<div style="padding-top: 25px;">
    <div class="row">
        <div class="col-md-2 ct-content">
            <a class="img-box left" href="http://www.europarl.europa.eu/meps/en/96272/PAVEL_SVOBODA_home.html">
                <img class="anim mep" src="{{ asset('build/static/meps/svoboda.png') }}"/>
            </a>
            <div class="content-box right">
                <h2> Pavel Svoboda </h2>
                <h4> Czech Republic </h4>
                <hr class="small-h">
                <p>
                </p>
            </div>
        </div>
        <div class="col-md-2 ct-content">
            <a class="img-box left" href="http://www.europarl.europa.eu/meps/en/124776/MADY_DELVAUX_home.html">
                <img class="anim mep" src="{{ asset('build/static/meps/delvaux.png') }}"/>
            </a>
            <div class="content-box right">
                <h2> Mady Delvaux </h2>
                <h4> Luxembourg </h4>
                <hr class="small-h">
            </div>
        </div>
        <div class="col-md-2 ct-content">
            <a class="img-box left"
               href="http://www.europarl.europa.eu/meps/en/188906/FRANCIS_ZAMMIT+DIMECH_home.html">
                <img class="anim mep" src="{{ asset('build/static/meps/zammit.png') }}"/>
            </a>
            <div class="content-box right">
                <h2> Francis Zammit Dimech </h2>
                <h4> Malta </h4>
                <hr class="small-h">
            </div>
        </div>
        <div class="col-md-2 ct-content">
            <a class="img-box left" href="http://www.europarl.europa.eu/meps/en/124850/EMIL_RADEV_home.html">
                <img class="anim mep" src="{{ asset('build/static/meps/radev.png') }}"/>
            </a>
            <div class="content-box right">
                <h2> Emil Radev </h2>
                <h4> Bulgaria </h4>
                <hr class="small-h">
                <p>
                </p>
            </div>
        </div>
        <div class="col-md-2 ct-content">
            <a class="img-box left" href="http://www.europarl.europa.eu/meps/en/1849/SYLVIA-YVONNE_KAUFMANN_home.html">
                <img class="anim mep" src="{{ asset('build/static/meps/kaufmann.png') }}"/>
            </a>
            <div class="content-box right">
                <h2> Sylvia-Yvonne Kaufmann </h2>
                <h4> Germany </h4>
                <hr class="small-h">
                <p>
                </p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2 ct-content">
            <a class="img-box left"
               href="http://www.europarl.europa.eu/meps/en/124742/ANTONIO_MARINHO+E+PINTO_home.html">
                <img class="anim mep" src="{{ asset('build/static/meps/radev.png') }}"/>
            </a>
            <div class="content-box right">
                <h2> Antonio Marinho e Pinto </h2>
                <h4> Portugal </h4>
                <hr class="small-h">
            </div>
        </div>
        <div class="col-md-2 ct-content">
            <a class="img-box left" href="http://www.europarl.europa.eu/meps/en/124740/JOELLE_BERGERON_home.html">
                <img class="anim mep" src="{{ asset('build/static/meps/bergeron.png') }}"/>
            </a>
            <div class="content-box right">
                <h2> Joëlle Bergeron </h2>
                <h4> France </h4>
                <hr class="small-h">
            </div>
        </div>
        <div class="col-md-2 ct-content">
            <a class="img-box left" href="http://www.europarl.europa.eu/meps/en/96710/JENS_ROHDE_home.html">
                <img class="anim mep" src="{{ asset('build/static/meps/rhode.png') }}"/>
            </a>
            <div class="content-box right">
                <h2> Jens Rohde </h2>
                <h4> Denmark </h4>
                <hr class="small-h">
            </div>
        </div>
        <div class="col-md-2 ct-content">
            <a class="img-box left"
               href="http://www.europarl.europa.eu/meps/en/124753/MARIE-CHRISTINE_BOUTONNET_home.html">
                <img class="anim mep" src="{{ asset('build/static/meps/boutonnet.png') }}"/>
            </a>
            <div class="content-box right">
                <h2> Marie-Christine Boutonnet </h2>
                <h4> France </h4>
                <hr class="small-h">
            </div>
        </div>
        <div class="col-md-2 ct-content">
            <a class="img-box left" href="http://www.europarl.europa.eu/meps/en/28481/SAJJAD_KARIM_home.html">
                <img class="anim mep" src="{{ asset('build/static/meps/sajjad.png') }}"/>
            </a>
            <div class="content-box right">
                <h2> Sajjad Karim </h2>
                <h4> United Kingdom </h4>
                <hr class="small-h">
            </div>
        </div>
    </div>
</div>
