<div class="footer-notice">{% trans %}footer_notice{% endtrans %}</div>
<div class="section-footer">
    <div class="address">
        <div>
            <strong>savetheinternet.info</strong><br />
            Gerresheimer Landstrasse 172<br />
            40627 Düsseldorf<br />
            Germany
        </div>
        <div>
            Tel.: +4921154256000<br />
            E-Mail: <a href="mailto:info@savetheinternet.info">info@savetheinternet.info</a>
        </div>
    </div>
    <div class="copyright">
        &copy;
        <script type="text/javascript">document.write(new Date().getFullYear());</script>
        - <a href="{{ path('index') }}">savetheinternet.info</a>
    </div>
    
    <div class="menu">
        <a href="{{ path('gallery') }}" class="footer-gallery">{% trans %}gallery_title{% endtrans %}</a>
        <a href="{{ path('about') }}" class="footer-about">{% trans %}about_link{% endtrans %}</a>
        <a href="{{ path('about_us') }}" class="footer-about-us">{% trans %}about_us_link{% endtrans %}</a>
        <a href="{{ path('imprint') }}" class="footer-imprint">{% trans %}imprint_link{% endtrans %}</a>
        <a href="{{ path('privacy') }}" class="footer-privacy">{% trans %}privacy_link{% endtrans %}</a>
        <a href="https://github.com/Insax/savetheinternet" rel="noopener" target="_blank"
           class="footer-github">GitHub</a>
    </div>
</div>
